<header>
    <section id="header-navbar">
        <div class="header-top mt-4">
            <div class="container">
                <div class="row mx-auto align-items-center">
                    <div class="col-xl-3 col-lg-2 col-md-3 col-6">
                        <div class="logo d-flex align-items-center">
                            <a href="#" [ngClass]="{'clicked':toggle}" (click)="menuBtn($event)" class="menu-btn me-2">
                                <span class="menu-icon-bar"></span>
                                <span class="menu-icon-bar"></span>
                                <span class="menu-icon-bar"></span>
                            </a>
                            <a [routerLink]="['']"><img src="{{setting?.logo}}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-10 col-md-9 col-6">
                        <div class="header-right-side d-flex justify-content-around">
                            <div class="call-us-search d-flex">
                                <div class="call-us-content">
                                    <div class="icon">
                                        <img src="/assets/icons/headset.svg" alt="">
                                    </div>
                                    <div class="number">
                                        <p>BIZƏ ZƏNG ET</p>
                                        <h4>{{setting?.phone}}</h4>
                                    </div>
                                </div>
                                <div class="search-box-area navbar-search-box">
                                    <app-search-box></app-search-box>
                                </div>
                            </div>
                            <div class="header-actions d-flex ">
                                <a class="d-flex align-items-center login" *ngIf="user!=null"
                                    [routerLink]="['/app/account']">
                                    <img src="/assets/icons/man.svg" alt="">
                                    <span class="ms-1">{{user.name}}</span>
                                    <div class="logout">
                                        <a (click)="logout($event)" href="#">Hesabdan çıxılsın?</a>
                                    </div>
                                </a>
                                <div *ngIf="user==null" class="login-register">
                                    <a [routerLink]="['/auth/login']">
                                        Daxil olun
                                    </a>
                                </div>
                                <span class="me-3">
                                    <app-wishlist></app-wishlist>
                                </span>
                                <span>
                                    <app-basket></app-basket>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="header-navigation">
            <div class="container">
                <div class="header-menu-area my-2">
                    <div class="menu-area d-flex justify-content-between">
                        <div class="logo align-items-center">
                            <a [routerLink]="['']"><img src="/assets/icons/logo.png" alt=""></a>
                        </div>
                        <div class="all-categories">
                            <div (click)="categoryBtn()" class="menu-btn-all-categories d-flex align-items-center">
                                <span class="menu-btn category-btn me-1">
                                    <span class="menu-icon-bar"></span>
                                    <span class="menu-icon-bar"></span>
                                    <span class="menu-icon-bar"></span>
                                </span>
                                <span> Kateqoriyalar</span>
                                <fa-icon class="chevron" [icon]="chevron"></fa-icon>
                            </div>
                            <div [ngClass]="{'categories-active':category}" class="categories-dropdown">
                                <ul>
                                    <li *ngFor="let department of departments">
                                        <span>
                                            <span>
                                                <i class="{{department.icon}} me-3"></i>
                                                {{department.name}}
                                            </span>
                                            <fa-icon [icon]="chevronR"></fa-icon>
                                        </span>
                                        <ul *ngIf="department.categories.length>0" class="categories-sub-menu">
                                            <li *ngFor="let category of department.categories">
                                                <a [routerLink]="['/app/category',category.id]">
                                                    {{category.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-content">
                            <ul class="d-flex">
                                <li><a class="active-menu" [routerLink]="['']">Ana Səhifə</a></li>
                                <li>
                                    <a [routerLink]="['/app/new-arrivals']">
                                        Yeni Gələnlər
                                    </a>

                                </li>
                                <li><a [routerLink]="['/app/trending']">Trend</a></li>
                                <li><a [routerLink]="['/app/hot-deals']"> Ən Yaxşı Təkliflər </a></li>
                                <li><a [routerLink]="['/app/contact']">Əlaqə</a></li>
                            </ul>
                        </div>
                        <span class="ads"> Yeni <span>30%-ə qədər endirimlər</span></span>
                        <a href="#" [ngClass]="{'clicked':toggle}" (click)="menuBtn($event)" class="menu-btn">
                            <span class="menu-icon-bar"></span>
                            <span class="menu-icon-bar"></span>
                            <span class="menu-icon-bar"></span>
                        </a>

                    </div>
                    <div class="search-box-main-top">
                        <app-search-box></app-search-box>
                    </div>
                </div>
                <div [ngClass]="{'mobile-active':toggle}" class="mobile-menu">
                    <ul>
                        <li><a [routerLink]="['']">Ana Səhifə</a></li>
                        <li>
                            <a [routerLink]="['/app/new-arrivals']">
                                Yeni Gələnlər
                            </a>
                        </li>
                        <li><a [routerLink]="['/app/trending']">Trend</a></li>
                        <li><a [routerLink]="['/app/hot-deals']"> Ən Yaxşı Təkliflər </a></li>
                        <li><a [routerLink]="['/app/contact']">Əlaqə</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>