<div id="ads">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
                <div class="big-banner-content" style="background-image: url({{mediumBanner?.image}});">
                    <h4>{{mediumBanner?.title}}</h4>
                    <p>{{mediumBanner?.subtitle}}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="small-banner-content" style="background-image: url({{smallBanner?.image}});">
                    <h4>{{smallBanner?.title}}</h4>
                    <p>{{smallBanner?.subtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</div>