<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="create()">
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">Kateqoriya <span
                    class="text-danger">*</span> </label>
            <select name="categoryId" formControlName="categoryId" class="form-control">
                <option *ngFor="let category of categories" value="{{category.id}}" [selected]="category.id">
                    {{category.name}}
                </option>
            </select>
            <div *ngIf="submitted && f.categoryId.errors" class="text-danger">
                <div *ngIf="f.categoryId.errors.required">Kateqoriya boş ola bilməz</div>
            </div>
        </div>
        <div class="form-group">
            <label>Brend </label>
            <input name="brandId" formControlName="brandId" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.name.errors }">Məhsul adı <span
                    class="text-danger">*</span></label>
            <input name="name" formControlName="name" type="text" class="form-control">
            <div *ngIf="submitted && f.name.errors" class="text-danger">
                <div *ngIf="f.name.errors.required">Məhsul boş ola bilməz</div>
                <div *ngIf="f.name.errors.maxLenght">Məhsul adı maksimum 50 xarakter olmalıdır</div>
            </div>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.description.errors }">Məhsul təsviri <span
                    class="text-danger">*</span></label>
            <input name="description" formControlName="description" type="text" class="form-control">
            <div *ngIf="submitted && f.description.errors" class="text-danger">
                <div *ngIf="f.description.errors.required">Məhsul təsviri boş ola bilməz</div>
                <div *ngIf="f.description.errors.maxLenght">Məhsul təsviri maksimum 50 xarakter olmalıdır</div>
            </div>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.price.errors }">Qiymət<span
                    class="text-danger">*</span></label>
            <input name="price" formControlName="price" type="text" class="form-control">
            <div *ngIf="submitted && f.price.errors" class="text-danger">
                <div *ngIf="f.price.errors.required">Qiymət</div>
            </div>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.sku.errors }">Sku<span class="text-danger">*</span></label>
            <input name="sku" formControlName="sku" type="text" class="form-control">
            <div *ngIf="submitted && f.sku.errors" class="text-danger">
                <div *ngIf="f.sku.errors.required">Sku boş ola bilməz</div>
                <div *ngIf="f.sku.errors.maxLenght">Sku təsviri maksimum 50 xarakter olmalıdır</div>
            </div>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.inStock.errors }">Stok<span
                    class="text-danger">*</span></label>
            <select name="inStock" formControlName="inStock" class="form-control">
                <option value="true">Stokda</option>
                <option value="false">Bitib</option>
            </select>
            <div *ngIf="submitted && f.inStock.errors" class="text-danger">
                <div *ngIf="f.inStock.errors.required">Boş ola bilməz</div>
            </div>
        </div>
        <div class="form-group">
            <label>Featured?</label>
            <select name="isFeatured" formControlName="isFeatured" class="form-control">
                <option value="false">Deaktiv</option>
                <option value="true">Aktiv</option>
            </select>
        </div>
        <div class="form-group">
            <label>Trend?</label>
            <select name="isTrend" formControlName="isTrend" class="form-control">
                <option value="false">Deaktiv</option>
                <option value="true">Aktiv</option>
            </select>
        </div>
        <div class="form-group">
            <label>Çox satılan?</label>
            <select name="isTopSell" formControlName="isTopSell" class="form-control">
                <option value="false">Deaktiv</option>
                <option value="true">Aktiv</option>
            </select>
        </div>
        <div class="form-group">
            <label>Ən yaxşı təklif?</label>
            <select name="isHotDeal" formControlName="isHotDeal" class="form-control">
                <option value="false">Deaktiv</option>
                <option value="true">Aktiv</option>
            </select>
        </div>
        <div class="form-group">
            <label for="files" type="button" class="btn btn-secondary mr-2">Şəkillər yüklə</label>
            <label [ngClass]="{ 'is-invalid': submitted && f.addedBy.errors }"> <span
                    class="text-danger">*</span></label>
            <input id="files" (change)="upload($event)" type="file" class="d-none" accept="image/*">

            <div *ngIf="uploadImg.length>0" class="photos">
                <div *ngFor="let img of uploadImg;let i=index" class="img">
                    <div *ngFor="let photos of photoss.controls;let j=index" formArrayName="photos">
                        <div [formGroup]="photoss.controls[j]">
                            <input type="hidden" name="img" formControlName="img">
                            <input type="hidden" name="orderBy" formControlName="orderBy">
                        </div>
                    </div>
                    <img src="{{img.src}}" alt="uploaded-photo">
                    <a href="#" (click)="removePhoto($event,img.fileName,i)">
                        <i class=" ml-1 fas fa-trash"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="submitted && f.addedBy.errors" class="text-danger">
                <div *ngIf="f.addedBy.errors.required">Şəkil boş ola bilməz</div>
            </div>
        </div>
        <div class="form-group">
            <label [ngClass]="{ 'is-invalid': submitted && f.addedBy.errors }">Adınız <span
                    class="text-danger">*</span></label>
            <input name="addedBy" formControlName="addedBy" type="text" class="form-control">
            <div *ngIf="submitted && f.addedBy.errors" class="text-danger">
                <div *ngIf="f.addedBy.errors.required">Adınız boş ola bilməz</div>
                <div *ngIf="f.addedBy.errors.maxLenght">Adınız maksimum 100 xarakter olmalıdır</div>
            </div>
        </div>
        <button type="submit" class="btn btn-success w-100">Yarat</button>
    </form>
</div>