<app-breadcrumb [title]=" 'Səbət' "></app-breadcrumb>
<section id="shopping-cart-wishlist">
    <div class="container">
        <div class="row">
            <div *ngIf="basket!=null" class="offset-1 col-xl-10">
                <div class="table-product-area">
                    <h4 class="title">Səbət</h4>
                    <table class="table cart-item-list">
                        <thead>
                            <tr>
                                <th>Məhsul</th>
                                <th>Qiymət</th>
                                <th>Miqdar</th>
                                <th>Cəm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of basket">
                                <td>
                                    <div class="product-area d-flex align-items-center">
                                        <a (click)="removeBasketItem($event,item.product.id)" href="#"
                                            class="close_icon">
                                            <svg id="icon3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                viewBox="0 0 16 16">
                                                <path data-name="Path 174" d="M0,0H16V16H0Z" fill="none"></path>
                                                <path data-name="Path 175"
                                                    d="M14.95,6l-1-1L9.975,8.973,6,5,5,6,8.973,9.975,5,13.948l1,1,3.973-3.973,3.973,3.973,1-1L10.977,9.975Z"
                                                    transform="translate(-1.975 -1.975)" fill="#fb1159"></path>
                                            </svg>
                                        </a>
                                        <div class="product-img">
                                            <img src="{{item.product.photos[0]}}" alt="">
                                        </div>

                                        <span> {{item.product.name}}</span>
                                    </div>
                                </td>
                                <td class="product-price ">
                                    {{item.product.price}} ₼
                                </td>
                                <td>
                                    <div class="quantity">
                                        <a *ngIf="item.count>1" (click)="decrease($event,item.product)" href="#"
                                            class="minus single-item-count"><i class="ti ti-minus"></i></a>
                                        <input disabled class="single-item-count quantity-input" type="text"
                                            value="{{item.count}}">
                                        <a (click)="increase($event,item.product)" href="#"
                                            class="plus single-item-count"><i class="ti ti-plus"></i></a>
                                    </div>
                                </td>
                                <td class="total-price">
                                    {{item.count |totalProductPrice :item.product.price}} ₼
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="cupon">
                                        <form action="#">
                                            <input type="text" placeholder="Kupon Kodu">
                                            <button class="btn btn-pink">Kupon Təsdiqi</button>
                                        </form>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td class="text-center">
                                    <a [routerLink]="['']" class="btn btn-pink">Alış-verişə davam edin</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="table-total-sum-area">
                    <h4 class="title">Səbət Cəmi</h4>
                    <table class="table total-table">
                        <tr>
                            <td>Cəm</td>
                            <td *ngIf="basket?.length>0">{{basket|totalPrice}} ₼</td>
                        </tr>
                    </table>
                    <a *ngIf="user!=null" [routerLink]="['/app/checkout']" class="btn btn-pink">Sifarişi Göndər</a>
                    <a *ngIf="user==null" [routerLink]="['/auth/login']" class="btn btn-pink">Daxil Ol və Sifarişi
                        rəsmiləşdir</a>
                </div>
            </div>
            <div class="offset-1 col-xl-10">
                <div *ngIf="basket==null" class="empty d-flex justify-content-center align-items-center">
                    <h4 class="text-center me-4">Səbətdə məhsul yoxdur</h4>
                    <a class="btn btn-pink" [routerLink]="['']">Ana səhifəyə dön</a>
                </div>
            </div>
        </div>
    </div>
</section>