// section {
//   margin-top: 20px;
// }
body {
  font-family: "Jost", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}
a {
  outline: none;
}
.btn-pink {
  color: white;
  background-color: $color-pink-second;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 34px;
  &:hover {
    color: #fd1c5e;
    background: transparent;
    border: 1px solid;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.btn-pink-small {
  text-decoration: none;
  color: $color-pink-second !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.main-title {
  font-size: 30px;
  font-weight: 700;
  color: #090b17;
  margin-bottom: 0;
}
.star {
  display: flex;
  i {
    color: $color-star;
    margin-right: 5px;
  }
  .unrated {
    color: #f1f1f1 !important;
  }
}
.mw-200 {
  max-width: 200px !important;
}
.color-filter {
  width: 35px;
  height: 35px;
  // display: flex;
  input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input[type="radio"]:checked ~ .checkmark-color {
    border-color: $color-pink-second;
  }
  .checkmark-color {
    position: relative;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 35px 0 0;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background: #fd1c5e;
      border-radius: 50%;
      left: 4px;
      top: 4px;
    }
    &::after {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      content: "";
      width: 35px;
      height: 35px;
      background: transparent;
      border-radius: 50%;
      transition: 0.3s;
      transform: scale(1);
    }
  }

  input[type="radio"]:checked ~ .checkmark-color.black {
    border-color: #000000;
  }
  input[type="radio"]:checked ~ .checkmark-color.blue {
    border-color: #1f73be;
  }
  input[type="radio"]:checked ~ .checkmark-color.gray {
    border-color: #d6d6d6;
  }
  input[type="radio"]:checked ~ .checkmark-color.green {
    border-color: #81d742;
  }
  input[type="radio"]:checked ~ .checkmark-color.brown {
    border-color: #dd9a32;
  }
  input[type="radio"]:checked ~ .checkmark-color.purple {
    border-color: #8224e2;
  }
  input[type="radio"]:checked ~ .checkmark-color.yellow {
    border-color: #eeee22;
  }

  .checkmark-color.black {
    &::before {
      background: #000000;
    }
  }
  .checkmark-color.blue {
    &::before {
      background: #1f73be;
    }
  }
  .checkmark-color.gray {
    &::before {
      background: #d6d6d6;
    }
  }
  .checkmark-color.green {
    &::before {
      background: #81d742;
    }
  }
  .checkmark-color.brown {
    &::before {
      background: #dd9a32;
    }
  }
  .checkmark-color.purple {
    &::before {
      background: #8224e2;
    }
  }
  .checkmark-color.yellow {
    &::before {
      background: #eeee22;
    }
  }
}

.auth-form {
  display: flex;
  justify-content: center;
  padding: 57px 0 120px 0;
  .auth-inner {
    max-width: 690px;
    padding: 100px 120px;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 234, 239, 0.1),
      rgba(64, 232, 221, 0.1)
    );
    form {
      input {
        height: 50px;
        border-radius: 0px;
        border: 0;
        border-bottom: 1px solid #e1e2e6;
        font-family: "Jost", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #090b17;
        padding: 10px 0px;
        width: 100%;
        box-shadow: none !important;
        background: transparent;
        padding-bottom: 5px;
        &:focus-visible {
          outline: none;
        }
      }
      .conditions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 22px;
        .primary-checkbox {
          display: inline-block;
          position: relative;
          margin: 0;
          align-items: center;
          margin-right: 5px;
          input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            &:checked ~ .checkmark {
              background: #fd1c5e;
              transition: 0.3s;
              &::after {
                width: 100%;
                height: 100%;
                border: 0;
                transition: 0.3s;
                transform: scale(0);
              }
            }
          }
        }
        .primary-checkbox .checkmark {
          position: relative;
          width: 18px;
          height: 18px;
          top: 0;
          left: 0;
          display: block;
          cursor: pointer;
          line-height: 18px;
          flex: 18px 0 0;
          border-radius: 3px;
          &::before {
            content: "\e64c";
            font-family: "themify";
            position: absolute;
            display: block;
            top: 0px;
            left: 3px;
            text-indent: 1px;
            color: #828bb2;
            background-color: transparent;
            border: 0px;
            -webkit-transform: rotate(8deg);
            -moz-transform: rotate(8deg);
            -ms-transform: rotate(8deg);
            -o-transform: rotate(8deg);
            transform: rotate(8deg);
            font-size: 10px;
            font-weight: 600;
            line-height: 18px;
            z-index: 99;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
      p {
        line-height: 26px;
        color: #676e8b;
        font-size: 14px;
        font-weight: 500;
      }
      .forgot-password {
        font-size: 14px;
        font-weight: 500;
        color: #5dabfc;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          color: $color-pink-second;
        }
      }
    }
    .signup {
      margin-top: 10px;
      a {
        text-decoration: none;
        color: #5dabfc;
        margin-left: 10px;
        transition: 0.3s;
        &:hover {
          color: $color-pink-second;
        }
      }
    }
  }
}
.price {
  margin-bottom: 35px;
  .old-price {
    font-size: 16px;
    font-weight: 400;
    color: #090b17;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 15px;
  }
  .new-price {
    font-size: 36px;
    font-weight: 700;
    color: $color-pink-second;
    margin-bottom: 0;
    position: relative;
    sup {
      font-size: 16px;
      font-weight: 500;
      position: absolute;
      right: -37px;
      top: 13px;
    }
  }
}

@import "/src/assets/scss/variables";
table {
  thead {
    th {
      font-size: 16px;
      font-weight: 500;
      color: #090b17;
      border-top: 0;
      border-bottom: 0;
      padding: 10px 10px 10px 30px;
      font-family: "Jost", sans-serif;
      border-bottom: 1px solid #f1f1f1;
      padding-left: 0;
    }
  }
  tbody {
    td {
      color: #676e8b;
      font-size: 16px;
      vertical-align: middle;
      padding: 20px 30px 20px 0;
      white-space: nowrap;
      font-weight: 400;
      border-bottom: 1px solid #f1f1f1;
      padding-left: 0;
      a {
        color: $color-pink-second;
      }
    }
  }
}
.badge1 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #fd1c5e;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.badge2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #33c922;
  border-radius: 30px;
  padding: 4.5px 15px;
}
@import "/src/assets/scss/variables";
#shopping-cart-wishlist {
  padding: 98px 0 100px 0;
  .title {
    font-size: 22px;
    font-weight: 700;
    color: #090b17;
    margin-bottom: 30px;
  }
  th {
    font-size: 16px;
    font-weight: 600;
    color: #090b17;
    border-top: 1px solid #e1e2e6;
    border-bottom: 1px solid #e1e2e6;
    padding: 22px 30px;
    font-family: "Jost", sans-serif;
    &:first-child {
      border-left: 1px solid #e1e2e6;
      padding-left: 295px;
    }
    &:last-child {
      border-right: 1px solid #e1e2e6;
    }
  }
  td {
    border-bottom: 1px solid #e1e2e6;
    font-family: "Jost", sans-serif;
    color: #090b17;
    font-size: 16px;
    vertical-align: middle;
    padding: 20px 30px;
    white-space: nowrap;
    &:first-child {
      border-left: 1px solid #e1e2e6;
      padding-left: 20px;
    }
    .close-icon {
      text-decoration: none;
    }
    .product-img {
      margin-right: 90px;
      overflow: hidden;
      img {
        max-height: 130px;
        max-width: 100%;
      }
    }
    .quantity {
      .minus {
        border-right: 0 !important;
      }
      .single-item-count {
        width: 40px;
        height: 41px;
        border-radius: 0px;
        border: 1px solid #e1e2e6;
        font-size: 14px;
        color: #687083;
        display: inline-block;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        transition: 0.3s;
        cursor: pointer;
        background: #f9f9fd;
      }
      a {
        text-decoration: none;
      }
      .quantity-input {
        cursor: text;
        width: 60px;
        background: #fff;
        color: #373737;
        font-weight: 500;
        font-family: "Jost", sans-serif;
        font-size: 16px;
        border-right: 0;
        &:focus {
          outline: none;
        }
      }
    }
    .cupon {
      input {
        height: 50px;
        border-radius: 5px;
        border: 1px solid #ebebeb;
        color: #090b17;
        padding: 10px 20px;
        width: 55%;
        background: #f9f9fd;
        font-size: 14px;
        font-weight: 500;
        font-family: "Jost", sans-serif;
      }
      .btn-pink {
        height: 50px;
        margin-left: 10px;
      }
    }
    &:last-child {
      border-right: 1px solid #e1e2e6;
    }
  }
  .table-product-area {
    margin-bottom: 80px;
    .cart-item-list {
      border-collapse: collapse;
      border-radius: 5px;
      .product-price {
        font-weight: 400;
      }
      .total-price {
        border-right: 1px solid #e1e2e6;
        font-weight: 600;
      }
    }
  }
  .table-total-sum-area {
    .total-table {
      td {
        border-top: 1px solid #e1e2e6;
      }
      td:first-child {
        font-weight: 600;
      }
    }
    .btn-pink {
      float: right;
    }
  }
}

.my-badge {
  color: white;
  background-color: #54c254;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
}
.color-pink {
  color: #fd1c5e !important;
}
//responsive
@media only screen and (min-width: 1400px) {
  .container {
    min-width: 1440px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px !important;
  }
  .price {
    span {
      font-size: 30px !important;
    }
  }
}
@media only screen and(max-width:992px) {
  .main-title {
    text-align: center !important;
    margin-bottom: 10px !important;
  }
}
@media only screen and (max-width: 768px) {
  .price {
    span {
      font-size: 28px !important;
    }
  }
}

@media only screen and (max-width: 568px) {
  .price {
    span {
      font-size: 26px !important;
    }
  }
}

@media only screen and (max-width: 468px) {
  .btn-pink {
    padding: 10px 22px !important;
  }
}
@media only screen and (max-width: 365px) {
  .btn-pink {
    padding: 0 !important;
  }
}
