<section id="deal-of-day" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div [ngStyle]='{"background-color": dealOfDay?.backgroundColor}' class="deal-of-day-area">
                    <div class="deal-product-content">
                        <div class="row">
                            <div class="order-2 order-sm-1 col-sm-6 col-lg-7">
                                <div class="deal-content collection-content">
                                    <h6>{{dealOfDay?.subtitle}}</h6>
                                    <h1>{{dealOfDay?.title}}</h1>
                                    <div class="price">
                                        <del class="old-price">{{dealOfDay?.product.price}} ₼</del>
                                        <span class="new-price">
                                            {{dealOfDay?.product.price|discountPrice:dealOfDay?.product.discount.precentage}}
                                            <sup>.{{99}}</sup> ₼</span>
                                    </div>

                                    <app-countdown *ngIf="dealOfDay" [endDate]="dealOfDay.product.discount.endDate">
                                    </app-countdown>
                                </div>
                            </div>
                            <div class="order-1 order-sm-2 col-sm-6 col-lg-5">
                                <div class="deal-product">
                                    <a [routerLink]="['/app/product',dealOfDay?.product.id]">
                                        <img src="{{dealOfDay?.product.photos[3]}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>