@import "/src/assets/scss/variables";
.banner {
  background-image: url("/assets/icons/subbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
