<section id="top-brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-area">
                    <h4 class="main-title">Partnyorlar</h4>
                    <div class="border-dash"></div>
                </div>
            </div>
            <div class="col-lg-12">
                <owl-carousel-o [options]="options">
                    <ng-template carouselSlide *ngFor="let brand of brands">
                        <div class="brand">
                            <img src="{{brand.logo}}" alt="">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="bottom-border"></div>
        </div>
    </div>
</section>