#adres {
  padding: 91px 0 70px 0;
  .notify-text {
    display: flex;
    align-items: center;
    background: #fcfcfc;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 45px 0 45px 0;
    i {
      font-size: 18px;
      font-weight: 400;
      color: #fd1c5e;
      margin-right: 20px;
    }
    p {
      font-size: 16px;
      color: #676e8b;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
  .user-info-area {
    h3 {
      font-size: 30px;
      color: #090b17;
      font-weight: 700;
      margin-bottom: 26px;
    }
    .user-info {
      display: flex;
      font-size: 16px;
      font-weight: 400;
      color: #676e8b;
      line-height: 1.63;
      margin-bottom: 17px;
      align-items: center;
      p {
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }
  .form-group {
    label {
      font-size: 14px;
      font-weight: 600;
      color: #373737;
      display: block;
      margin: 14px 0;
      line-height: 1;
    }
    input {
      height: 50px;
      border: 1px solid #e1e2e6;
      font-family: "Jost", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #090b17;
      padding: 15px 20px;
      width: 100%;
      box-shadow: none !important;
    }
  }
}
