<div class="deals-countdown">
    <h4>Bitmə vaxtı </h4>
    <div class="deals-count">
        <div class="single-count"><span>{{daysToDday}}</span><span class="count-title">days</span></div>
        <div class="single-count"><span><span>:</span>{{hoursToDday}}</span><span class="count-title">Hours</span></div>
        <div class="single-count"><span><span>:</span>{{minutesToDday}}</span><span class="count-title">Minutes</span>
        </div>
        <div class="single-count"><span><span>:</span>{{secondsToDday}}</span><span class="count-title">SECONDS</span>
        </div>
    </div>
</div>