<section id="shop-collection">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div [ngStyle]='{"background-color": collections[0]?.backgroundColor}' class="big-shop-collection">
                    <div class="collection-content">
                        <h6>{{collections[0]?.subtitle}}</h6>
                        <h1>{{collections[0]?.title}}</h1>
                        <div class="price">
                            <del class="old-price">{{collections[0]?.product.price}} ₼</del>
                            <span class="new-price">$299<sup>.99</sup></span>
                        </div>
                        <a [routerLink]="['/app/product',collections[0]?.product.id]"
                            class="btn btn-pink">{{collections[0]?.btnText}}</a>
                    </div>
                    <div class="collection-product">
                        <img src="{{collections[0]?.product.photos[3]}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-collection-area">
                    <div [ngStyle]='{"background-color": collections[1]?.backgroundColor}'
                        class="small-shop-collection colect-1">
                        <div class="small-collection-content">
                            <h3>{{collections[1]?.title}}</h3>
                            <div class="price d-flex align-items-center">
                                <span class="ms-1 new-price">{{collections[1]?.product.price}} <sup>.99</sup></span>
                            </div>
                            <a [routerLink]="['/app/product',collections[1]?.product.id]"
                                class="btn-pink-small">{{collections[1]?.btnText}} »</a>
                        </div>
                        <div class="small-collection-product">
                            <img class="mw-200" src="{{collections[1]?.product.photos[0]}}" alt="">
                        </div>
                    </div>
                    <div [ngStyle]='{"background-color": collections[2]?.backgroundColor}'
                        class="small-shop-collection collect-2">
                        <div class="small-collection-content">
                            <h3>{{collections[2]?.title}}</h3>
                            <div class="price d-flex align-items-center">
                                <span class="ms-1 new-price">{{collections[2]?.product.price}} <sup>.99</sup></span>
                            </div>
                            <a [routerLink]="['/app/product',collections[2]?.product.id]"
                                class="btn-pink-small">{{collections[2]?.btnText}} »</a>
                        </div>
                        <div class="small-collection-product">
                            <img class="mw-200" src="{{collections[2]?.product.photos[0]}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="categories-slider">
    <div class="categories-slider-area">
        <h3>Populyar Kateqoriyalar</h3>
        <div class="container">
            <owl-carousel-o [options]="options">
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>

            </owl-carousel-o>

        </div>
    </div>
</section>
<app-new-arrivals-container></app-new-arrivals-container>
<section id="deal-of-day" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background-color: #F6F6F8;" class="deal-of-day-area">
                    <div class="deal-product-content">
                        <div class="row">
                            <div class="order-2 order-sm-1 col-sm-6 col-lg-7">
                                <div class="deal-content collection-content">
                                    <h6>DEAL of the day</h6>
                                    <h1>Apple's all in a completely <br> refreshed design. </h1>
                                    <div class="price">
                                        <del class="old-price">$325.00</del>
                                        <span class="new-price">$299<sup>.99</sup></span>
                                    </div>
                                    <app-countdown></app-countdown>
                                </div>
                            </div>
                            <div class="order-1 order-sm-2 col-sm-6 col-lg-5">
                                <div class="deal-product">
                                    <a [routerLink]="['/app/product']">
                                        <img src="/assets/icons/iphone.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="featured-products" class="pb-5">
    <app-products-slider-container [featured]="true" [title]=" 'Seçilən Məhsullar' "></app-products-slider-container>
</section>
<section id="small-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="small-banner-content"
                    style="background-image: url(https://res.cloudinary.com/dyqcmbewn/image/upload/v1619193767/infixvuci/macbook-banner_xhzu2n.jpg);">
                    <div class="small-banner-text">
                        <h6 class="sub-title">Apple</h6>
                        <h4 class="big-title">Yeni Nəsil İldırım Sürətli Macbooklar</h4>
                        <p>Sadəcə <span>1299 ₼</span> başlayaraq</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="offers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/delevary.png'" [title]="'Pulsuz Çatdırılma'"
                    [text]=" '500 manata qədər sifarişdə pulsuz çatdırılma' "></app-offer>
            </div>
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/clock.png'" [title]="'Geri qaytarma imkanı'"
                    [text]=" 'Fikir dəyişikliyi istisna' "></app-offer>
            </div>
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/payment.png'" [title]="'Təhlükəsiz ödəniş'"
                    [text]=" 'Dünyandakı təhlükəsiz ödəniş metodları ilə' "></app-offer>
            </div>
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/help.png'" [title]="'24/7 Dəstək'"
                    [text]=" 'Günün 24 saatı dəstək xətti' "></app-offer>
            </div>
        </div>
    </div>
</section>
<section id="top-selling-roducts" class="pb-5">
    <app-products-slider-container [topSell]="true" [title]="'Çox Satılan Məhsullar'"></app-products-slider-container>
</section>
<app-top-brands-container></app-top-brands-container>
<!-- <section id="blog">
    <div class="container">
        <h4 class="main-title">Form Our Blog</h4>
        <div class="row">
            <div class="col-lg-4">
                <app-blog></app-blog>
            </div>
            <div class="col-lg-4">
                <app-blog></app-blog>
            </div>
            <div class="col-lg-4">
                <app-blog></app-blog>
            </div>
        </div>
    </div>
</section> -->