<section id="shop-collection">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div style="background-color: #fdc1c1;" class="big-shop-collection">
                    <div class="collection-content">
                        <h6>DEALS AND PROMOTIONS</h6>
                        <h1>Keep your feet <br> Cool comfy.</h1>
                        <div class="price">
                            <del class="old-price">$325.00</del>
                            <span class="new-price">$299<sup>.99</sup></span>
                        </div>
                        <a [routerLink]="['/app/product']" class="btn btn-pink">Shop Now</a>
                    </div>
                    <div class="collection-product">
                        <img src="/assets/icons/img1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-collection-area">
                    <div style="background-color: #fdf7e3;" class="small-shop-collection colect-1">
                        <div class="small-collection-content">
                            <h3>SMART SPEAKER FOR <br>
                                MUSIC LOVERS</h3>
                            <div class="price d-flex align-items-center">
                                From
                                <span class="ms-1 new-price">$39 <sup>.99</sup></span>
                            </div>
                            <a [routerLink]="['/app/product']" class="btn-pink-small">Shop Now »</a>
                        </div>
                        <div class="small-collection-product">
                            <img src="/assets/icons/img1.png" alt="">
                        </div>
                    </div>
                    <div style="background-color: #f4f7fe;" class="small-shop-collection collect-2">
                        <div class="small-collection-content">
                            <h3>SMART SPEAKER FOR <br>
                                MUSIC LOVERS</h3>
                            <div class="price d-flex align-items-center">
                                From
                                <span class="ms-1 new-price">$39 <sup>.99</sup></span>
                            </div>
                            <a [routerLink]="['/app/product']" class="btn-pink-small">Shop Now »</a>
                        </div>
                        <div class="small-collection-product">
                            <img src="/assets/icons/img1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="categories-slider">
    <div class="categories-slider-area">
        <h3>Explore Popular Categories</h3>
        <div class="container">
            <owl-carousel-o [options]="options">
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="categories-slider-item">
                        <div class="category-img">
                            <img src="/assets/icons/cat1.png" alt="">
                        </div>
                        <h6>Televisons</h6>
                        <span>24 Products</span>
                    </div>
                </ng-template>

            </owl-carousel-o>

        </div>
    </div>
</section>
<app-new-arrivals-container></app-new-arrivals-container>
<section id="deal-of-day" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background-color: #F6F6F8;" class="deal-of-day-area">
                    <div class="deal-product-content">
                        <div class="row">
                            <div class="order-2 order-sm-1 col-sm-6 col-lg-7">
                                <div class="deal-content collection-content">
                                    <h6>DEAL of the day</h6>
                                    <h1>Apple's all in a completely <br> refreshed design. </h1>
                                    <div class="price">
                                        <del class="old-price">$325.00</del>
                                        <span class="new-price">$299<sup>.99</sup></span>
                                    </div>
                                    <app-countdown></app-countdown>
                                </div>
                            </div>
                            <div class="order-1 order-sm-2 col-sm-6 col-lg-5">
                                <div class="deal-product">
                                    <a [routerLink]="['/app/product']">
                                        <img src="/assets/icons/iphone.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="featured-products" class="pb-5">
    <app-products-slider-container [title]=" 'Featured Products' "></app-products-slider-container>
</section>
<section id="small-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="small-banner-content" style="background-image: url(/assets/icons/full_banner.jpg);">
                    <div class="small-banner-text">
                        <h6 class="sub-title">Sofa Furniture</h6>
                        <h4 class="big-title">Wooden Minimalistic Chairs for Home.</h4>
                        <p>SALE UP TO <span>40%</span> OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="offers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/delevary.png'" [title]="'Free Delivery'"
                    [text]=" 'Free Shipping on Order $500+' "></app-offer>
            </div>
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/clock.png'" [title]="'90 DAYS RETURN'"
                    [text]=" 'Change of mind is not applicable' "></app-offer>
            </div>
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/payment.png'" [title]="'SECURE PAYMENT'"
                    [text]=" 'World’s secure payment methods' "></app-offer>
            </div>
            <div class="col-sm-6 col-lg-3">
                <app-offer [icon]="'/assets/icons/help.png'" [title]="'24/7 HELP CENTER'"
                    [text]=" 'Round-the-clock assistance Helpline' "></app-offer>
            </div>
        </div>
    </div>
</section>
<section id="top-selling-roducts" class="pb-5">
    <app-products-slider-container [title]="'Top Selling Products'"></app-products-slider-container>
</section>
<app-top-brands-container></app-top-brands-container>
<section id="blog">
    <div class="container">
        <h4 class="main-title">Form Our Blog</h4>
        <div class="row">
            <div class="col-lg-4">
                <app-blog></app-blog>
            </div>
            <div class="col-lg-4">
                <app-blog></app-blog>
            </div>
            <div class="col-lg-4">
                <app-blog></app-blog>
            </div>
        </div>
    </div>
</section>