<section id="new-arrivals" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="main-title">
                    Yeni Gələnlər
                </h4>
            </div>
            <div class="col-lg-6">
                <ul class=" tab-buttons nav" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab"
                            aria-selected="true">Telefonlar</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
                            aria-selected="false">Kompüterlər</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab"
                            aria-selected="false">Televizorlar</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                    <ng-container *ngIf="phones.length">
                        <owl-carousel-o [options]="options">
                            <ng-template carouselSlide *ngFor="let phone of phones">
                                <app-single-product [product]="phone"></app-single-product>
                            </ng-template>
                        </owl-carousel-o>
                    </ng-container>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel">
                    <ng-container *ngIf="laptops.length">
                        <owl-carousel-o [options]="options">
                            <ng-template carouselSlide *ngFor="let laptop of laptops">
                                <app-single-product [product]="laptop"></app-single-product>
                            </ng-template>
                        </owl-carousel-o>
                    </ng-container>
                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel">
                    <ng-container *ngIf="tvs.length">
                        <owl-carousel-o [options]="options">
                            <ng-template carouselSlide *ngFor="let tv of tvs">
                                <app-single-product [product]="tv"></app-single-product>
                            </ng-template>
                        </owl-carousel-o>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>