<div class="container">
    <h4 class="main-title">
        {{title}}
    </h4>
    <div class="slider-area">
        <owl-carousel-o [options]="options">
            <ng-template carouselSlide>
                <app-single-product></app-single-product>
            </ng-template>
            <ng-template carouselSlide>
                <app-single-product></app-single-product>
            </ng-template>
            <ng-template carouselSlide>
                <app-single-product></app-single-product>
            </ng-template>
            <ng-template carouselSlide>
                <app-single-product></app-single-product>
            </ng-template>
            <ng-template carouselSlide>
                <app-single-product></app-single-product>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>