<div class="container">
    <h4 class="main-title">
        {{title}}
    </h4>
    <div class="slider-area">
        <ng-container *ngIf="featuredProducts.length && featured">
            <owl-carousel-o [options]="options">
                <ng-template carouselSlide *ngFor="let featured of featuredProducts">
                    <app-single-product [product]="featured"></app-single-product>
                </ng-template>
            </owl-carousel-o>
        </ng-container>
        <ng-container *ngIf="topSellProducts.length && topSell">
            <owl-carousel-o [options]="options">
                <ng-template carouselSlide *ngFor="let topSell of topSellProducts">
                    <app-single-product [product]="topSell"></app-single-product>
                </ng-template>
            </owl-carousel-o>
        </ng-container>
    </div>
</div>