<div class="product">
    <div class="img-area">
        <img src="/assets/icons/testp.png" alt="">
        <ul class="icons-area">
            <li>
                <a [routerLink]="['/app/wishlist']">
                    <i class="ti ti-heart"></i>
                </a>
            </li>
            <li>
                <a [routerLink]>
                    <i class=" ti ti-control-shuffle"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ti ti-eye"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <ul class="star-area">
            <li>
                <fa-icon [icon]="star"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="star"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="star"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="star"></fa-icon>
            </li>
            <li>
                <fa-icon [icon]="star"></fa-icon>
            </li>

        </ul>
        <p>Interior Design</p>
        <h6>
            <a [routerLink]="['/app/product']">Living Room Re-imagined</a>
        </h6>
        <span class="price">$180.00</span>
    </div>
    <a class="add-cart-area" href="#">Add To Cart</a>
</div>