<div class="product">
    <div class="img-area">
        <img [src]="product?.photos[0]" alt="">
        <ul class="icons-area">
            <li>
                <a [routerLink]="['/app/wishlist']">
                    <i class="ti ti-heart"></i>
                </a>
            </li>
            <li>
                <a [routerLink]>
                    <i class=" ti ti-control-shuffle"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ti ti-eye"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="star mb-2">
            <i *ngFor="let star of starCount(product.starCount)" class="fas fa-star"></i>
            <i *ngFor="let star of unratedStarCount(product.starCount)" class="fas fa-star unrated"></i>
        </div>
        <p *ngIf="product?.category!=null">{{product?.category.name}}</p>
        <h6>
            <a [routerLink]="['/app/product']">{{product?.name}}</a>
        </h6>
        <span class="price">{{product?.price}} ₼</span>
    </div>
    <a (click)="addToBasket($event,product)" class="add-cart-area" href="#">Səbətə At</a>
</div>