@import "/src/assets/scss/variables";
#product-list {
  .list-header {
    border-bottom: 1px solid $color-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
    h4 {
      font-size: 16px;
      font-weight: 500;
    }
    .selectbox {
      ::ng-deep {
        .ng-select {
          .ng-select-container {
            border: solid 1px #e9e7f7 !important;
            min-width: 180px;
            line-height: 34px;
            padding-left: 20px;
            font-family: "Jost", sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #676e8b;
            line-height: 30px;
            min-height: auto;
            border-radius: 6px;
            cursor: pointer;
            .ng-clear-wrapper {
              display: none;
            }
            .ng-arrow-wrapper {
              margin-right: 12px;
            }
            input {
              display: none;
            }
            &::after {
              content: none;
            }
            .ng-value-container {
              border-top: 0;
            }
          }
        }
      }
    }
  }
  .products-area {
    margin-bottom: 50px;
  }
}
@media only screen and(max-width:500px) {
  .list-header {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}
