<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#create">
                Kolleksiya Yarat
            </button>
            <h4 class="text-center">Kolleksiyalar</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Ad</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let brand of brands | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalCount }">
                        <td>
                            <img src="{{brand.logo}}" alt="">
                        </td>
                        <td>
                            {{brand.name}}
                        </td>
                        <td class="d-flex justify-content-between align-items-center">
                            <span *ngIf="brand.softDeleted" class="badge badge-danger">Deaktiv</span>
                            <span *ngIf="!brand.softDeleted" class="badge badge-success">Aktiv</span>
                            <span class="settings">
                                <a (click)="updateBrand(brand)" data-toggle="modal" data-target="#update"
                                    class="btn btn-warning rounded-circle mr-3" href="#">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a (click)="removeBrand($event,brand.id)" class="btn btn-danger rounded-circle"
                                    href="#">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <pagination-controls (pageChange)="page = $event" previousLabel="Əvvəlki" nextLabel="Növbəti"></pagination-controls>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Brend Yarat</h5>
                <button type="button" class="close-create close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createForm" (ngSubmit)="create()">
                    <div class="form-group">
                        <label [ngClass]="{ 'is-invalid': submitted && f.name.errors }">Adı</label>
                        <input name="name" formControlName="name" type="text" class="form-control">
                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                            <div *ngIf="f.name.errors.required">Ad boş ola bilməz</div>
                            <div *ngIf="f.name.errors.maxLenght">Ad maksimum 50 xarakter olmalıdır</div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label for="files" type="button" class="btn btn-secondary mr-2">Logo yüklə</label>
                        <label> <span class="text-danger">*</span></label>
                        <input id="files" (change)="upload($event)" type="file" class="d-none" accept="image/*">

                        <div *ngIf="uploadImg.length>0" class="photos">
                            <div *ngFor="let img of uploadImg;let i=index" class="img">
                                <input type="hidden" name="logo" formControlName="logo">
                                <img src="{{img.src}}" alt="uploaded-photo">
                                <a href="#" (click)="removePhoto($event,img.fileName,i)">
                                    <i class=" ml-1 fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Yarat</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Şöbəni Yenilə</h5>
                <button type="button" class="close-update close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateForm" (ngSubmit)="update()">
                    <div class="form-group">
                        <label [ngClass]="{ 'is-invalid': submitted && f.name.errors }">Adı</label>
                        <input name="name" formControlName="name" type="text" class="form-control">
                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                            <div *ngIf="f.name.errors.required">Ad boş ola bilməz</div>
                            <div *ngIf="f.name.errors.maxLenght">Ad maksimum 50 xarakter olmalıdır</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select name="softDeleted" formControlName="softDeleted" class="form-control form-control-sm">
                            <option value="false">Aktiv</option>
                            <option value="true">Deaktiv</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Yenilə</button>
                </form>
            </div>
        </div>
    </div>
</div>